# Secrets & other
_remove/
.env
*.json
credentials.json
*.xlsx

# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
ENV/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# local files
.DS_Store